*.sublime-project
*.sublime-workspace
EditorConfig/
HTML-CSS-JS Prettify/
JSHint Gutter/
Local History/
PyV8/
SublimeCodeIntel/
User/Package Control.cache/
User/Package Control.last-run
User/SublimeSimpleSync.sublime-settings

