[submodule "textmate-solarized"]
	path = textmate-solarized
	url = https://github.com/deplorableword/textmate-solarized
[submodule "ColdFusion"]
	path = ColdFusion
	url = https://github.com/SublimeText/ColdFusion
[submodule "StringUtilities"]
	path = StringUtilities
	url = https://github.com/akalongman/sublimetext-stringutilities
[submodule "ExportHtml"]
	path = ExportHtml
	url = https://github.com/facelessuser/ExportHtml.git
[submodule "DocBlockr"]
	path = DocBlockr
	url = https://github.com/tollus/sublime-jsdocs.git
