[submodule "textmate-solarized"]
	path = textmate-solarized
	url = https://github.com/deplorableword/textmate-solarized
[submodule "ColdFusion"]
	path = ColdFusion
	url = https://github.com/SublimeText/ColdFusion.git
[submodule "Local History"]
	path = Local History
	url = https://github.com/vishr/local-history.git
[submodule "SublimeMarkAndMove"]
	path = SublimeMarkAndMove
	url = https://github.com/colinta/SublimeMarkAndMove.git
[submodule "Sublime-Text-2-Inc-Dec-Value"]
	path = Sublime-Text-2-Inc-Dec-Value
	url = https://github.com/rmaksim/Sublime-Text-2-Inc-Dec-Value.git
[submodule "Sublimerge"]
	path = Sublimerge
	url = https://github.com/tollus/Sublimerge.git
